ExposedConfig(
    keyboard_bindings: (
        exploration_controls: {
            "Walk Forward": KeyW,
            "Walk Backward": KeyS,
            "Strafe Left": KeyA,
            "Strafe Right": KeyD,
            "Turn Left": KeyQ,
            "Turn Right": KeyE,
            "Menu": Escape,
            "Open Map": Tab
        },
    ),
    controller_bindings: (
        exploration_controls: {
            "Walk Forward": DPadUp,
            "Walk Backward": DPadDown,
            "Strafe Left": LeftTrigger,
            "Strafe Right": RightTrigger,
            "Turn Left": DPadLeft,
            "Turn Right": DPadRight,
            "Menu": Start,
            "Open Map": Select
        }
    )
)
